:root {
    box-sizing: border-box;
  
    --primary: #343a40;
    --hover-color: #fdd052;
    --dark: #1c2022;
    --light: #fff;
    --textc: #555555;
  
    --header-bg: var(--primary);
  }
  *,
  *::after,
  *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "josefin sans", "helvetica", sans-serif;
    font-size: 1rem;
    margin-left:auto;
    margin-right:auto;
    margin-top: auto;
    width:auto;
  }
  
  header {
    background: var(--header-bg);
    padding-left: 1.5em;
    position: sticky;
    top: 0;
    z-index: 2;
  }
 
  .branding-logo {
    color: var(--light);
    font-size: calc(0.8rem + 1vw);
    text-decoration: none;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu {
    display: flex;
    flex-direction: row;
  }
  .menu li {
    list-style: none;
  }
  .menu li a {
    display: block;
    text-decoration: none;
    color: var(--light);
    padding: 1em 1.5em;
    font-size: 1rem;
  }
  
  /* Styling submenu */
  .has-dropdown {
    position: relative;
  }
  .submenu {
    position: absolute;
    left: 0;
    background-color: var(--dark);
    white-space: nowrap;
    padding: 1.5em 0;
    min-width: 16em;
  
    /* hide submenus */
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top center;
  }
  .submenu > li > a {
    padding: 0.8em 1.5em;
  }
  .submenu .submenu {
    left: -100%;
    top: 0;
  }
  .submenu .submenu .submenu {
    left: -100%;
    top: 0;
  }
  
  .menu > li:hover > a,
  .submenu > li:hover > a {
    background-color: hsla(0, 0%, 100%, 0.05);
    color: var(--hover-color);
  }
  .menu > li:hover > a {
    background-color: hsla(0, 0%, 0%, 0.95);
  }

  .mactive{
    background-color: hsla(0, 0%, 0%, 0.95);
  }
  .smactive
  {
    background-color: hsla(0, 0%, 100%, 0.05);
    color: var(--hover-color);
  }
  
  /* Arrows */
  
  .arrow {
    width: 0.5em;
    height: 0.5em;
    display: inline-block;
    vertical-align: middle;
    border-left: 0.15em solid currentColor;
    border-bottom: 0.15em solid currentColor;
    transform: rotate(-45deg);
    margin-top: -0.25em;
    transition: transform 100ms ease-in-out;
  }
  
  /* Reveal  */
  .menu > li:hover > a + .submenu,
  .submenu > li:hover > a + .submenu {
    opacity: 1;
    transform: scaleY(1);
  }
  
  /* ANIMATE aRROWS */
  .menu > li:hover > a > .arrow,
  .submenu > li:hover > a > .arrow {
    transform: rotate(225deg);
  }
  
  @media only screen and (max-width: 78.75em) {
    .submenu .submenu .submenu {
      left: -100%;
      top: 0.5em;
    }
    .submenu {
      min-width: 16em;
    }
  }
  @media only screen and (max-width: 58.75em) {
    .menu li a {
      font-size: 1rem;
    }
  }
  
  @media only screen and (max-width: 50em) {
    header {
  /*     position: relative; */
      padding: 1.5em 2em;
    }
    .menu {
      flex-flow: column;
      position: absolute;
      background: var(--light);
      top: 4.55em;
      left: 0;
      right: 0;
      height: 100vh;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: top center;
      transition: 200ms transform cubic-bezier(0.36, 0.4, 0.42, 1.48) 100ms,
        100ms opacity ease-in-out;
      /*padding-left: 250px;*/
      margin-left: 250px;
      overflow-y: scroll;
      
    }
    .menu > li > a {
      font-size: 1rem;
      color: var(--dark);
      float:right;
    }
    .submenu > li > a {
      font-size: 1rem;
    }
  
    .submenu {
      top: 0;
      padding-left: 1.5em;
      border-left: 0.12em dotted hsla(342, 99%, 45%, 0.95);
    }
    .submenu .submenu {
      left: 0;
      top: 0;
    }
    .submenu .submenu .submenu {
      left: 0;
      top: 0;
    }
  
    .menu > li:hover > a + .submenu,
    .submenu > li:hover > a + .submenu {
      position: relative;
    }
  
    .hamburger {
      width: 2em;
      height: 0.25em;
      display: block;
      background: var(--light);
      position: relative;
      cursor: pointer;
      transition: 0.2s transform ease-in-out;
    }
    .hamburger::after,
    .hamburger::before {
      content: "";
      position: absolute;
      left: 0;
      background: inherit;
      width: inherit;
      height: inherit;
  
      transition: 0.2s transform ease-in-out;
    }
  
    .hamburger::after {
      top: 0.65em;
    }
    .hamburger::before {
      bottom: 0.65em;
    }
  
    .close::after,
    .close::before {
      top: 0;
      transition: 0.2s transform ease-in-out;
    }
    .close::before {
      display: none;
    }
    .close {
      transform: rotate(45deg);
      transition: 0.2s transform ease-in-out;
    }
    .close::after {
      transform: rotate(-90deg);
    }
  
    /* reveal menu */
    input[type="checkbox"]:checked + .menu {
      position: absolute;
      opacity: 1;
      transform: scaleY(1);
    }
   
  }
  
  main {
  /* just to make scrollable vertically to see sticky navbar    */
    height: 200vh;
  }


  * {box-sizing:border-box}



.container-history{
  padding-left: 14%;
  padding-right: 10%;
  position:relative;
    /*display: flexbox;*/
  flex-direction: row;
  overflow: auto;
  margin:auto;
}
.container-history > p
{
  font-size: 28px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--textc);
  font-weight: 500;
  margin-top: 45px;
  margin-left: 45px;

}
.history{
  float:left;
  border-style: solid;
  border-color: #1c2022;
  background-color: var(--primary);
  border-width: 2px;
  border-radius: 2px;
  width: 400px;
  height: 500px;
  margin-left: 3%;
  margin-top: 3%;
}
.history > i, .history > p{
  margin-left: 20px;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-right: 25px;
} 
.history > i{
  font-size:50px;
  color: var(--light);
}
.history > p:nth-child(2){
  font-size:20px;
  color: #FA4616;
}
.history > p:nth-child(3){
  font-size: 18px;
  padding-top:1%;
  color: var(--light);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


@media only screen and (max-width: 550px) {
  .container-history{
    padding-left: 6%;
    padding-right: 10%;
  }
}
.clear {
  border: 1px solid black;
  clear: both;
}
.container{
    position: relative;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 40px;
    width:1500px;
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.contact{
    float: left;
    padding: 25px;
    margin-left: 5%;
    background-color: var(--primary);
    color: var(--light);
    width: 250px;
    font-size: 16px;
    border-radius: 3px;
}
.contact > p
{
    font-size: 22px;
    font-weight: 450;
    padding-bottom: 2px;
    padding-top: 10px;
}
.services
{
    width: 42%;
    float: left;
    margin-left: 20px;
    font-size: 18px;
    color: var(--textc);
}
.services > p, .services > h3
{
    text-align: left;
    color: var(--textc);
    font-size: 22px;
    font-weight: 600;
}
.services > h3
{
    padding-top:15px;
    padding-bottom: 20px;
}

.team{
    display: inline-block;
    color: var(--textc);
}
.team-child{
    float:left;
    padding: 25px;
    border-style: solid;
    border-color: var(--dark);
    border-width: 1px;
    width: 320px;
    height: 350px;
    margin-right: 50px;
    margin-top: 50px
}
.team-child > p{
    padding-top: 10px;
    padding-left: 22px;
    font-size: 18px;
}
.team-child:hover{
    color: var(--light);
    background-color: var(--primary);
    transition-duration: 2000ms;
}
.footer{
    margin-top: 50px;
    background-color: var(--primary);
    color: var(--light);
    height: 80px;
    line-height: 80px;
    text-align: center;
  }
